body {
    background-color: #f0f0f0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.qr-div {
    background-color: #d5e1ef;
    height: 70%;
    width: 95%;
    display:flex;
    justify-content: center;
    align-items: center;
}